<!DOCTYPE html>
<html>
    <head>
        
    </head>

    <body>
        <input type="text" id="urlInput" placeholder="www.google.com">

        <button onclick="shortenURL()">Shorten!</button>
        <p id="urlOutput"></p>
        <script src="index.js"></script>
    </body>
</html>